:root {
  --color-background-main: #c5e4e7;
  --color-background-input: #f3f9fa;
  --color-button-dark: #00474b;
  --color-button-med: #26c2ae;
  --color-button-light: #9fe8df;
  --color-button-inactive: #0d686d;

  --color-text-light: #fff;
  --color-text-med: #26c2ae;
  --color-text-dark: #7f9d9f;
  --color-text-extra-dark: #00474b;
  --color-text-grey: #5e7a7d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  margin: 0;
  background-color: var(--color-background-main);
}
